<div class="jumbotron">
  <h1 class="title">Quick Hunt</h1>
  <p class="slogan">
    With Quick Hunt, you can find your dream RoR job easily.
  <br>
  We are hoping to create an online website that provides RoR developers all around the world with well-paid jobs.
  <br>
  Register now and find a wonderful team to join!
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">Apply Now</a>
  </p>
</div>
